<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Free Courses</title>
	<link rel="stylesheet"  href="{% static 'css/style2.css'%}">
	<meta name="viewport" content="width =device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
	<section id="banner">
		<div class="banner-text">
			<h1>Free Courses</h1>
			<p1> Get your own desire free courses & learn it & get more experience</p1>
			<h2>Youtube Video Links</h2>
            {% for cin in cinfo %}
            <h3>{{ cin.c_id.c_name }}</h3>
			<div class="youtube1">
                <iframe width="560" height="315" src="{{ cin.c_vlink }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			    <iframe width="560" height="315" src="{{ cin.c_slink }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
            {% endfor %}
			<!--<h4>Basic python Tutorial</h4>
			<div class="youtube2"><iframe width="560" height="315" src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/WGJJIrtnfpk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
				</div>
			<h5>Basic Bootstrap Tutorial</h5>
			<div class="youtube3"><iframe width="560" height="315" src="https://www.youtube.com/embed/bPuyoVh9U3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			</div>
			<h6>Basic HTML and CSS Tutorial</h6>
			<div class="youtube4"><iframe width="560" height="315" src="https://www.youtube.com/embed/8gNrZ4lAnAw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/QMnv3QrjZoU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			</div>
			<h5>Adobe Photoshop and Illustrator  Tutorial</h5>
			<div class="youtube5"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ib8UBwu3yGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			</div>
			<h5>Basic Video Editing Tutorial</h5>
			<div class="youtube6"><iframe width="560" height="315" src="https://www.youtube.com/embed/-wpFSpNbDW0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/c1bm-pSVLMY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			</div>-->

			</div>
	</section>
</body>
</html>