<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proxima</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Hello {{name}}!!!!</h1>
        <form action="add" method="post">
        {% csrf_token %}
            <input type="text" name="num1" placeholder="Enter 1st number" required><br>
            <input type="text" name="num2" placeholder="Enter 2nd number" required><br>
            <input type="submit">
        </form>
    {% endblock %}


</body>
</html>