{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'css/paidpage1.css' %}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

	<link href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    	rel="stylesheet">


</head>
<body>

<header class="head text-center text-white">
    {%  for c in cpinfo %}
	<div class="appdv">
		<h1>{{ c.c_id }}</h1>
	</div>
	<div class="main">
        <div class = "container">
            <div class = "text-center py-2">
                <h4>A Project Based course on {{ c.c_id }}</h4>
                <p class="para">
                    Learn to bring your ideas into an Android application! In this course, you will learn basic programming and use that skill into making three complete mobile apps that you can publish to Google Play Store.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 text center">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h2>Who Is This Course For?</h2>
                    <p>Students (class 10+ !!), freelancers, web developers and anyone having app ideas and interested to learn the development.</p>
                </div>
                <div class="col-md-4 text center">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <h2>What Will You Learn?</h2>
                    <p>Basics of programming, Object-Oriented Programming and fully functioning Andriod App from the scratch and put them on your portfolio by the end of this course. </p>
                </div>
                <div class="col-md-4 text center">
                    <div class="icon">
                        <i class="fa fa-plus-square"></i>
                    </div>
                    <h2>Prerequisite for Course</h2>
                    <p>No programming knowledge required, though having basic programming knowledge will be a plus point.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text center">
                <h2>Course Fee</h2>
                <p>BDT {{ c.c_fee }}/-</p>
            </div>
            <div class="col-md-4 text center">
                <h2>Duration</h2>
                <p>{{ c.c_duration }} month </p>
            </div>
            <div class="col-md-4 text center">
                <h2>Language</h2>
                <p>{{ c.c_lang }}</p>
            </div>
        </div>
        <div class = "text-center py-2">
            <h4>Class Schedule for the Upcoming Batch</h4>
            <p class="para">
                Choose the class time according to your own convenience!
            </p>
        </div>
        <div class="row">
            {% for cs in csecs %}
            <div class="col-md-4 text center">
                <h3>Section {{ cs.sec }}</h3>
                <p>Monday: 10am-12pm <br>
                    Wednesday: 10am-12p
                </p>
            </div>
            {% endfor %}
            <!--<div class="col-md-4 text center">
                <h3>Section 2</h3>
                <p>Friday: 9am-11am <br>Saturday: 9am-11am </p>
            </div>
            <div class="col-md-4 text center">
                <h3>Section 3</h3>
                <p>Sunday: 10am-12pm <br>
            		Tuesday: 10am-12pm </p>
            </div>-->
        </div>
        <button type="submit" class="btnw mt-3 mb-5">ENROLL</button>
    </div>
    {% endfor %}
</header>


<!-- closing of main -->

</body>
</html>