<!DOCTYPE html>
{% load static %}
{% static "img/logo" as baseUrl %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/pfc.css'%}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    	rel="stylesheet">
</head>
<body>
	<div class="upf"> <h1>User Profile</h1></div>
	<div class="wrapper">
		<div class="left">
			 <img src="{% static 'img/logo/06.jpg'%}" alt="user" width="100">
			 <h4>{{ user.username }}</h4>
			 <p> A Registered and <br> Honorable Member of <br> P R O X I M A </p>
		</div>
		<div class="right">
			<div class="info">
				<h3>User Details</h3>
				<div class="info_data">
					<div class="data">
						<h4>Email</h4>
						<p>{{ user.email }}</p>
					</div>
					<div class="data">
						<h4>Phone</h4>
						<p>01718191610</p>
					</div>
				</div>
			</div>
			<div class="projects">
				<div class="project_data">
					<div class="data">
						<h4>Enrolled Courses</h4>
						<p>Software Development</p>
					</div>
					<div class="data">
						<h4>Services</h4>
						<p>Video Editing</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>