<!DOCTYPE html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    	rel="stylesheet">



</head>
<body>

	 <div class="upf"> <h1>Thank You For Choosing Us!</h1></div>
	 <div class="deet"> Please Enter Your Order details and fill up the form as asked below!</div>
	 <div class="main">
			<form action="{%url 'place_order'%}" method="post">
            {% csrf_token %}
                {% for ser in sers %}
			<h2 class="name">Title : {{ ser.s_name }}</h2>
                {% endfor %}
			<div id="name">
			<h2 class="name">Description</h2>
			<input class="desc" type="text" placeholder="Enter Description" name="des"><br>
			</div>
			<div id="name">
			<h2 class="name">Requirements</h2>
			<input class="req" type="text" placeholder="Enter Requirement" name="req"><br>
			</div>
			<h2 class="name">Delivery Date</h2>
			<input type="datetime-local"  class="ddate" placeholder="Enter Preferred Delivery Date" name="del">
			<h2 class="name">Preferred Address</h2>
			<input class="p_address" type="text" placeholder="Preferred Delivery Address"  name="p_address">
			<div class="note">Note that the Price of the product will vary a little according to your preferred delivery date and for some specific or special requirement. The delivary charge depends on the location.</div>
			<div class="note2">Please wait for the confirmation call. Our staff will contact you soon and Confirm everything. Thank you for your kind cooperation.</div>
			<button type="submit" class="btnnn mt-3 mb-5">Place Order</button>
</div>
</form>
</body>
</html>